<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Virtusa | Edit Profile</title>
<script type="text/javascript" src="../static/jslib/node_modules/jquery/dist/jquery.js" th:src="@{jslib/node_modules/jquery/dist/jquery.js}"></script>
<link type="text/css" rel="stylesheet" href="../static/styles/template.css" th:href="@{/styles/template.css}">
<link type="text/css" rel="stylesheet" href="../static/styles/profile.css" th:href="@{/styles/profile.css}">
</head>
<body>
	<!-- ASIDE FOR SIDE BAR  -->
	<aside>
		<h2>Hai!</h2>
		<h2>[[${employeId}]]</h2>
		<hr>
		<ul>
			<li><a href="/home">HOME</a></li>
			<li><a href="/profile">PROFILE</a></li>
			<li><a href="/editProfile">EDIT PROFILE</a></li>
			<li><a href="/payslip">PAYSLIP</a></li>
			<li><a href="/mboPayout">MBO PAYOUT</a></li>
			<li><a href="/resetPassword">CHANGE PASSWORD</a></li>
		</ul>
	</aside>
	<!-- SIDE BAR ENDED -->


	<section>
		<!-- HEADER FOR NAV BAR -->
		<nav>
			<img href="../static/images/virtusa-logo.png" th:src="@{/images/virtusa-logo.png}">
			<p>
				<a href="/declaration"><span>Forms</span></a><a href="/logout"><span>Log
						out</span></a>
			</p>
		</nav>
		<!-- NAV BAR ENDED -->

		<!-- SECTION FOR CONTENT -->
		<div class="content">
			<fieldset>
				<legend>
					<h3>[[${profile.employeName}]]</h3>
				</legend>
				<form action="/saveProfile" method="post">
					<div>
						<fieldset>
							<legend>Personal Details</legend>
							<div>
								<p>Emp Id: <input type="text" name="employeId" th:value="${profile.employeId}"></p>
								<p>Emp Name: <input type="text" name="employeName" th:value="${profile.employeName}"></p>
								<p>Email Id: <input type="text" name="email" th:value="${profile.email}"></p>
								<p>Date of Birth: <input type="date" name="dateOfBirth" th:value="${profile.dateOfBirth}"></p>
							</div>
						</fieldset>
					</div>
					<br>
					<div>
						<fieldset>
							<legend>Identifecation Details</legend>
							<div>
								<p>Aadhar No: <input type="text" name="aadhar" th:value="${profile.aadhar}"></p>
								<p>Pan No: <input type="text" name="PanCardNo" th:value="${profile.panCardNo}"></p>
								<p>Mobile No: <input type="text" name="mobileNo" th:value="${profile.mobileNo}"></p>
							</div>
						</fieldset>
					</div>
					<br>
					<div>
						<fieldset>
							<legend>Bank Details</legend>
							<div>
								<input path="bankId" type="text" name="bankAccount" th:value="${profile.bankAccount.bankId}" style="display: none;">
								<p>Bank Name: <input path="bankName" type="text" name="bankName" th:value="${profile.bankAccount.bankName}"></p>
								<p>Acc No: <input path="accNo" type="text" name="acc" th:value="${profile.bankAccount.accNo}"></p>
								<p>IFSC Code: <input path="ifscCode" type="text" name="ifsc" th:value="${profile.bankAccount.ifscCode}"></p>
							</div>
						</fieldset>
					</div>
					<br>
					<div>
						<fieldset>
							<legend>Contact Details</legend>
							<div>
								<input type="text" name="address" th:value="${profile.address.addressId}" style="display: none;">
								<p>Door No: <input path="doorNo" type="text" name="addr" th:value="${profile.address.doorNo}"></p>
								<p>City: <input path="city" type="text" name="city" th:value="${profile.address.city}"></p>
								<p>Pin: <input path="zipCode" type="text" name="pin" th:value="${profile.address.zipCode}"></p>
								<p>State: <input path="state" type="text" name="state" th:value="${profile.address.state}"></p>
								<p>Country: <input path="country" type="text" name="country" th:value="${profile.address.country}"></p>
							</div>
						</fieldset>
					</div>
					<br>
					<button class="btn" type="submit" style="float: right;">Submit</button>
					<br>
				</form>
			</fieldset>
		</div>
		<!-- SECTION ENDED -->
	</section>

</body>
</html>