<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Virtusa | ResetPasword</title>
<script type="text/javascript" src="../static/jslib/node_modules/jquery/dist/jquery.js" th:src="@{jslib/node_modules/jquery/dist/jquery.js}"></script>
<link type="text/css" rel="stylesheet" href="../static/styles/template.css" th:href="@{/styles/template.css}">
<link type="text/css" rel="stylesheet" href="../static/styles/resetPasswd.css" th:href="@{/styles/resetPasswd.css}">
<script type="text/javascript" src="/script/resetPassword.js"></script>
</head>
<body>
	<aside>
		<h2>Hai!</h2>
		<h2>[[${employeId}]]</h2>
		<hr>
		<ul>
			<li><a href="/home">HOME</a></li>
			<li><a href="/profile">PROFILE</a></li>
			<li><a href="/editProfile">EDIT PROFILE</a></li>
			<li><a href="/payslip">PAYSLIP</a></li>
			<li><a href="/mboPayout">MBO PAYOUT</a></li>
			<li><a href="/resetPassword">CHANGE PASSWORD</a></li>
		</ul>
	</aside>
	<!-- SIDE BAR ENDED -->


	<section>
		<!-- HEADER FOR NAV BAR -->
		<nav>
			<img href="../static/images/virtusa-logo.png" th:src="@{/images/virtusa-logo.png}">
			<p>
				<a href="declaration.jsp"><span>Forms</span></a><a href="LogoutServlet"><span>Log
						out</span></a>
			</p>
		</nav>
		<!-- NAV BAR ENDED -->

		<!-- SECTION FOR CONTENT -->
		<div class="content">
			
				<fieldset>
					<legend>
						<h3>Reset Password.</h3>
					</legend>
					<div class="cover">

						<p>Current Password: </p>
						<p><input id="currentPasswd" type="text"
								name="currentpasswd">
						</p>
						<p>New Password: </p>
						<p><input id="newPasswd" type="text" name="newpasswd"></p>
						<p>Re-Enter Password: </p>
						<p><input id="reEnteredPassword" type="text" name="re-password"></p>
						
						<p><button id="submit_btn" class="btn" type="submit">Submit</button></p>
						
						<p><span id="msg"></span><p>

					</div>
				</fieldset>

		</div>
		<!-- SECTION ENDED -->
	</section>
</body>
</html>